# Server port
PORT=

# MongoDB
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_URL=
MONGODB_DB=


# Brevo SMTP credentials
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=


JWT_SECRET= 

# Cloudinary
ENABLE_CLOUDINARY=true
CLOUD_NAME=
API_KEY=
API_SECRET=


# Frontend domain (для скидання пароля)
APP_DOMAIN=